.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 0px;
    margin-top: 50px;
}

.jumbotron-img {
    color: black;
    margin-top: 50px;
    margin-bottom: 0px;
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    height: 100%;
}

.footer {
    padding: 10px, 10px, 0, 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 0px 0px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

address {
    margin-bottom: 0;
    padding-bottom: 0;
}

address p {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 2px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    margin-top: 10px;
}

.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}